.header1 {
  background-color: rgba(89, 88, 100);
  color: white;
  margin: 1%;
  padding: 1%;
}
button {
  font-style: bold;
  background-color: rgba(89, 88, 100);
  color: black;
  margin: 0.5% 15%;
  border-style: solid;
}
